<div class="row">
  <div class="col-lg-12">
    <h2 class="my-4">Our Team</h2>
  </div>
  <div class="col-lg-4 col-sm-6 text-center mb-4">
    <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
    <h3>John Smith
      <small>Job Title</small>
    </h3>
    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center mb-4">
    <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
    <h3>John Smith
      <small>Job Title</small>
    </h3>
    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center mb-4">
    <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
    <h3>John Smith
      <small>Job Title</small>
    </h3>
    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center mb-4">
    <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
    <h3>John Smith
      <small>Job Title</small>
    </h3>
    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center mb-4">
    <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
    <h3>John Smith
      <small>Job Title</small>
    </h3>
    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center mb-4">
    <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
    <h3>John Smith
      <small>Job Title</small>
    </h3>
    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
  </div>
</div>