<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Reunited <%=Date.today.year%></p>
  </div>
  <!-- /.container -->
</footer>