<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to 'Reunited', {:controller => 'web/index', :action => 'index'}, :class => 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <%
        nav_link_class = 'nav-link'
        nav_array = [
            {
                :name => 'Home',
                :controller => {:controller => 'web/index', :action => 'index'},
            },
            {
                :name => 'Gallery',
                :controller => {:controller => 'web/gallery', :action => 'index'}
            },
            {
                :name => 'Committee',
                :controller => {:controller => 'web/committee', :action => 'index'}
            }
        ]
      %>
      <ul class="navbar-nav ml-auto">
        <% nav_array.each do |nav| %>
            <%
              is_current = controller?(nav[:controller][:controller]) && action?(nav[:controller][:action])
              nav_class = 'nav-item ' + (is_current ? 'active' : '')
            %>
            <li class="<%= nav_class %>">
              <%= link_to nav[:name], nav[:controller], :class => nav_link_class %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>